@import "tailwindcss";
body {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
.icon-glow:hover {
  filter: drop-shadow(0 0 6px currentColor);
}
/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}


.hoverglow {

-webkit-box-shadow:0px 0px 249px 16px rgba(77,46,255,0.69);
-moz-box-shadow: 0px 0px 249px 16px rgba(77,46,255,0.69);
box-shadow: 0px 0px 249px 16px rgba(77,46,255,0.69);

}
